/*{
	border: 1px dashed blue;
	
}*/

header{
	text-align: center;
	background-color: #6CD5C7;
	padding-top: 5px;
	padding-bottom: 5px;
}


main{
	background-color: #ECEC89;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

footer{
	background-color: #6CD5C7;
	padding-top: 3px;
	padding-bottom: 15px;
}

li{	
	list-style-type:none;	
}

h3{
	font-weight: bold;
}

em{
	margin-left: -20px;
	position: absolute;
	
}

.texte{
	margin-left: 80px;
	position: relative;
}

